<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidapppreguntapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true">
        <activity android:name=".CrearPreguntas" />
        <activity android:name=".CrearCuestionario" />
        <activity android:name=".AdministrarGraficos" />
        <activity android:name=".AdministrarCuestionario" />
        <activity android:name=".MenuPrincipalAdministrador" />
        <activity android:name=".EncuestasPendientes" />
        <activity android:name=".PerfilDeUsuario" />
        <activity android:name=".MenuPrincipalUsuario" />
        <activity android:name=".ResponderEncuestas" />
        <activity android:name=".FiltroCuestionario" />

        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityCricketers" />
        <activity android:name=".BuscarEncuestas" />
        <activity android:name=".TerminarEncuesta" />
        <activity android:name=".EditarCuestionarios" />
    </application>



</manifest>